@import "./variables";
@import "./components/index";
@import "./elements/index";

// Mixins
@import "./mixins";

// Google fonts
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  // border: 2px solid red;
}
body {
  font-family: $f-poppins;
}
.titleindent {
  margin-bottom: 28px;
  @media (max-width: 768px) {
    margin-bottom: 5px;
  }
}
