.c-founder {
  margin-top: 95px;
  &__ceo {
    &-name {
      @media (max-width: 991px) {
        margin-top: 20px;
      }
    }
  }

  @media (max-width: 979px) {
    margin-top: 200px;
  }
  @media (max-width: 619px) {
    margin-top: 310px;
  }
  @media (max-width: 439px) {
    margin-top: 530px;
  }
}
